.header {
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--card);
  text-align: center;
}


.logo {
  background-color: rgb(0, 42, 66);
  color: rgb(255, 255, 255);
  padding: 5px 30px;
  border-radius: 20px;
}