:root {
  --bg: #f0f0f0;
  --card-bg: #fff;
  --text: #000;
  --border: #aaa;
}

[data-theme="dark"] {
  --bg: #1e1e2f;
  --card-bg: #2e2e3f;
  --text: #fff;
  --border: #555;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}


/* src/index.css или App.css */
:root {
  --card-bg: #ffffff;
  --card-text: #111111;
}

[data-theme="dark"] {
  --card-bg: #1f2937;    /* темный фон карточки */
  --card-text: #f9fafb;  /* светлый текст */
  --todo-bg: #111827;
  --inProgress-bg: #374151;
  --done-bg: #065f46;
}
